.form {
  width: 900px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 30px auto;
}

.form__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form__buttons {
  display: flex;
  margin: 0 auto;
}

.form__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
  color: #000000;
}

.form__close {
  width: 24px;
  height: 24px;
  border: none;
  background: #E9ECEF url('img/close.svg') no-repeat center;
  background-size: 12px;
  cursor: pointer;
  border-radius: 100px;
}

.form__item {
  margin-bottom: 24px;
}

.button {
  height: 36px;
  padding: 0 16px;
  background-color: rgba(0,16,33,0.05);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  margin-right: 16px;
}

.button:hover {
  background-color: #E9ECEF;
}

.button:focus {
  background-color: rgba(4,29,56,0.14);
}

.button:disabled {
  background-color: #E2E5E8;
  color: rgba(0,0,0,0.20);
}

.button_blue {
  background-color: #007DFF;
  color: #FBF5F5;
}

.button_blue:hover {
  background-color: #0059FF;
}

.button_blue:focus {
  background-color: rgba(11,0,255,0.80);
}

.button_blue:disabled {
  background-color: #E9ECEF;
  color: rgba(0,0,0,0.20);
}